#navLink
{
	margin: 10px;
	margin-right: 50px;
	font-size: 20px;
}

#myWork
{   
	
background: url("myWork2.jpg") no-repeat center center fixed ; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
a{
	color: black;
}
.MoreInfo
{
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
}

p{
	font-family: 'Times New Roman', Times, serif;
	font-size:20px;
	font-style:bold;
}